<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đơn Hàng Hoàn Tất</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Đơn Hàng Hoàn Tất</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Mã Đơn Hàng</th>
                    <th scope="col">Người Dùng</th>
                    <th scope="col">Số Tiền</th>
                    <th scope="col">Thao Tác</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                    <tr>
                        <td>{{this._id}}</td>
                        <td>{{this.userId}}</td>
                        <td>{{this.totalAmount}} VND</td>
                        <td>
                            <a href="/admin/manager-order/complete/{{this._id}}" class="btn btn-secondary btn-sm">Kết thúc tour</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <a href="/admin/manager-order" class="btn btn-secondary">Quay lại</a>
    </div>
</body>
</html>
