
    <header>
        <div id="menu-bar" class="fas fa-bars"></div>
    
        <a href="#" class="logo"><span>T</span>ravel</a>
    
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#book">book</a>
            <a href="#packages">packages</a>
            <a href="#services">services</a>
            <a href="#gallery">gallery</a>
            <a href="#review">review</a>
            <a href="#contact">contact</a>
        </nav>
    
        <div class="icons">
            <i class="fas fa-search" id="search-btn"></i>
            <i class="fas fa-user" id="login-btn"></i>
        </div>
    
        <form method="GET" action="" class="search-bar-container">
            <input type="search" name="tukhoa" id="search-bar" placeholder="search here..." />
            <label for="search-bar" class="fas fa-search"></label>
        </form>
        <script>
            // Thêm sự kiện click vào label của thanh tìm kiếm để submit form qua query parameters
            document.querySelector('.search-bar-container label').addEventListener('click', function () {
                // Thực hiện submit form khi nhấn vào icon tìm kiếm
                document.querySelector('.search-bar-container').submit();
            });

        </script>
    </header>

        