<!-- checkout-success.hbs -->
<section class="checkout-success">
    <h1>{{message}}</h1>
    <p>Bạn có thể vào trang <a href="/my-orders">My Orders</a> để theo dõi trạng thái đơn hàng của mình.</p>
</section>
