<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap"
        rel="stylesheet" />
    <style>
        body {
            font-family: "Nunito", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f3f4f6;
            margin: 0;
   
        }

        .container {
            width: 100%;
            max-width: 350px;
            padding: 20px 30px;
            background-color: white;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            text-align: center;
            margin: 0 auto;
        }

        .container h2 {
            font-weight: 600;
            margin-bottom: 20px;
            font-size: 24px;
            color: #333;
        }

        .container input[type="text"],
        .container input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            box-sizing: border-box;
        }

        .container button {
            width: 100%;
            padding: 10px;
            background-color: #ffa500;
            border: none;
            color: white;
            font-size: 16px;
            font-weight: 600;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
        }

        .container a {
            color: #ffa500;
            text-decoration: none;
        }

        .container p {
            font-size: 14px;
            color: #555;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>LOGIN</h2>
        <!-- Hiển thị thông báo lỗi nếu có -->
        {{#if errorMessage}}
        <div class="error-message"
            style="color: red; padding: 1rem; background: #f8d7da; border: 1px solid #f5c6cb; border-radius: 5px;">
            {{errorMessage}}
        </div>
        {{/if}}
        <form action="/v1/auth/login" method="post">
            <input type="text" name="username" placeholder="Enter your username" required />
            <input type="password" name="password" placeholder="Enter your password" required />
            <button type="submit">Login Now</button>
        </form>
        <p>Don't have an account? <a href="/v1/auth/register">Register Now</a></p>
    </div>
</body>

</html>