<style>
    .footer {
  background: #333;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 0.7rem 0;
  color: #fff;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}

.footer .box-container .box a:hover {
  color: var(--orange);
  text-decoration: underline;
}
</style>

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>about us</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                    quas magni pariatur est accusantium voluptas enim nemo facilis sit
                    debitis.
                </p>
            </div>
            <div class="box">
                <h3>branch locations</h3>
                <a>Ha Noi</a>
                <a>Ho Chi Minh</a>
                <a>Da Nang</a>
                <a>Hai Phong</a>
            </div>
            <div class="box">
                <h3>quick links</h3>
                <a href="/#home">home</a>
            <a href="/#packages">packages</a>
            <a href="/#services">services</a>
            <a href="/#gallery">gallery</a>
            <a href="/#review">review</a>
            </div>
            <div class="box">
                <h3>follow us</h3>
                <a href="https://www.facebook.com/profile.php?id=61570367425918">facebook</a>
                <a href="#">instagram</a>
                <a href="#">twitter</a>
            </div>
        </div>
    </section>
